<div class="row pixelizer-controls">
  <div class="col-md-9 slider-controls">
    <!-- Insert the x-slider component and bind value to pixelatePercentage -->
    ! Implement slider here !
  </div>

  <div class="col-md-3">
    <button class="btn btn-primary pull-right" {{action "downloadImage"}}>
      Download me!
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <!-- Insert the pixelate-image component, bind src to model.url, bind value to pixelatePercentage -->
    ! Implement pixelate-image here !
  </div>
</div>
